
/app22/Docker-app22
/app22/Docker-app22-celery

/app11/Docker-app11
/app11/Docker-app11-celery

/app22/*.env
/app11/*.env
*.env

/app22/dock_up/
/app22/fileStore/

/app22/log_app/
/app22/log_celery/
/app11/log_app/
/app11/log_celery/

/app22/log/
/app11/log/
/log/

/app22/*.log
/app11/*.log
*.log

/app22/__pycache__
/app11/__pycache__
__pycache__

pg_db/
venv/
.git
.idea
.venv/
.ruff_cache/

*.yml
.dockerignore
docker-compose.yml
Dockerfile

Makefile
.gitignore
.gitattributes